.Footer{
	background-color: black;
	color: white;	
	display: flex;
	justify-content: space-evenly;
	padding: 50px;
}

.Footer .item{
	border: 1px solid white;
	width: 19%;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 40px;
	border-radius: 5px;
	transition: 0.3s;
}

.item a{
	text-decoration: none;
	color: white;
}

.Footer .item:hover{
	background-color: #5b5757;
}
