.HomeAb{
	height: 500px;
	color: white;
	background-color: #9b9b9b;
}

.HomeAb-title{
	font-size: 35px;
	padding-top: 30px;
	text-align: center;
	text-transform: uppercase;

}

.HomeAb-img{
	width: 30%;
	margin-left: 20px;
	margin-top: 30px;
	float: left;
}

.HomeAb-p{
	font-size: 30px;
	margin-top: 30px;
	margin-left: 30px;
	float: left;
}

.HomeAb-p span{
	background-color: #fed136;
  color: #484543;
	padding: 4px;
	border-radius: 3px;
}
