.HomeNews{
	background-color: #1c1c1c;
	color: white;
}
.HomeNews-container{
	display: grid;
	grid-template-columns: 200px 1fr 1fr 1fr 1fr 200px;
	grid-template-rows: auto;
	justify-items: center;
	height: 280px;
	color: #777;
}

.HomeNews-item1{
	grid-column: 2 / 3;
	width: 200px;
	transition: 1s;
}
.HomeNews-item1 a{
	color: #777;
	text-decoration: none;
}

.HomeNews-item2{
	grid-column: 3 / 4;
	width: 200px;
	transition: 1s;
}
.HomeNews-item2 a{
	color: #777;
	text-decoration: none;
}

.HomeNews-item3{
	grid-column: 4 / 5;
	width: 200px;
	transition: 1s;
}
.HomeNews-item3 a{
	color: #777;
	text-decoration: none;
}

.HomeNews-item4{
	grid-column: 5 / 6;
	width: 200px;
	transition: 1s;
}
.HomeNews-item4 a{
	color: #777;
	text-decoration: none;
}

.HomeNews-item1:hover{
	transform: scale(1.04);
}

.HomeNews-item2:hover{
	transform: scale(1.04);
}

.HomeNews-item3:hover{
	transform: scale(1.04);
}

.HomeNews-item4:hover{
	transform: scale(1.04);
}

.HomeNews-img{
	width: 200px;
}

.HomeNews-title{
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}
