body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
	width: 100%;
}

.NavigationOthers-header{
	display: grid;
	grid-template-columns: 100px 150px 450px 1fr 1fr 1fr 1fr 1fr 100px;
	grid-template-rows: auto;
	grid-gap: 10px;
	background-color: black;
}

.NavigationOthers-header-first{
	grid-column: 2 / 3;
	margin-top: 10px;
	color: white;
	text-transform: uppercase;
}

.NavigationOthers-header-second{
	grid-column: 4 / 5;
	margin-top: 30px;
	color: white;
	text-transform: uppercase;
}

.NavigationOthers-header-third{
	grid-column: 5 / 6;
	margin-top: 30px;
	color: white;
	text-transform: uppercase;
}

.NavigationOthers-header-fourth{
	grid-column: 6 / 7;
	margin-top: 30px;
	color: white;
	text-transform: uppercase;
}

.NavigationOthers-header-fifth{
	grid-column: 7 / 8;
	margin-top: 30px;
	color: white;
	text-transform: uppercase;
}

.NavigationOthers-header-sixth{
	grid-column: 8 / 9;
	margin-top: 30px;
	color: white;
	text-transform: uppercase;
}

.Navigation-logo{
  width: 150px;
}

