.News{
	background-color: #353535; 
	min-height: 100vh;
	display: flex;
	padding: 50px;
	flex-wrap: wrap;
}


.NewsItem{
	max-width: 26%;
	min-width: 16%;
	padding: 20px;
	border-radius: 5px;
	background-color: #ddd;
	margin: 30px;
}

.NewsItem a{
	text-decoration: none;
	color: black;
}

.NewsItem h3:hover{
	color: #565656;
}

.NewsItem h3{
	text-transform: uppercase;
	text-align: center;
}

.NewsItem p{
	color: #353535;
}

.newsImg{
	width: 100%;
	border-radius: 5px;
}

